@import "base.css";

.content{
  width:80%; display: flex; margin: 0px auto;
  flex-wrap: wrap;flex-direction: column;
  justify-content: center;
}
.content>.item{
  margin: 20px; width:70%; margin: 0px auto;
}
select{
  width:130px; height:30px;
}
