@import "base.css";
.schemes{
  display: flex;
  flex-wrap: wrap;flex-direction: row;
  justify-content: center; 
  margin: 15px;
}
main>.view>.schemes>.item{
  margin: 5px;
}
.url{
  font-size:0.8em;
  width: 300px; height:30px; 
}
select{
  font-size:0.8em;
  width:80px; height:30px;
}
main>.view>.tab, .content{
  display: flex;margin:0px auto;width:62%;
  flex-wrap: wrap;flex-direction: row;
  justify-content: center; 
  /* align-items: flex-end; */
}
main>.view>.tab>.item{
  text-align:center; width:90px;  
}
main>.view>.tab>.item:hover{
  cursor: pointer;      
}
.text{
  width:400px; height:250px;
  margin:0px auto 
}
