@import "base.css";
.specList, .schemes {
  display: flex; width: 80%;
  flex-wrap: wrap;flex-direction: row;
  justify-content: flex-start; 
  margin:0px auto;
}
.content{
  display: flex; width: 80%;
  flex-wrap: wrap;flex-direction: row;
  justify-content: center; 
  margin:0px auto;

}
.content>.title{
  display: flex; width: 40%;
  flex-wrap: wrap;flex-direction: row;
  justify-content: center; 
  margin:0px auto;
}
.content>.button{
 
  margin:10px auto;
}
.area{
  display: flex; width: 40%; margin:0px auto;
  text-align: left;
  overflow-y:scroll;word-break: break-all;
  border: solid grey 1px; border-radius:8px;
}

main>.view>.schemes >.item{
  margin: 5px;
}
li{
  width:60%;margin:3px
}
select{
  font-size:0.8em;
  width:300px; height:30px;
}
main>.view>.schemes >.item>input{
  font-size:0.8em;
  width:300px; height:30px;
}
main>.view>.content>.item>select{
  width:70px;margin: 6px;
}
main>.view>.content>.item>input{
  margin:6px; height:30px
}
main>.view>.content>.item{
  margin: 5px;
}
